<div class="main-container">
    <div class="cards">
      <div class="course">
        <a href="https://www.coursera.org/learn/introduction-to-software-engineering#outcomes" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'ibm.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Introduction to Software Engineering</h2>
              </div>
              <p class="description">By taking this course you will gain foundational
                knowledge of software development, programming, and the many exciting
                job roles and career paths that the IT industry offers.</p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      15
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            6
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/programs/young-global-citizens-assembly-le-wagon-rlkt4/learn/introduction-software-programming-and-databases?source=search" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'ibm.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Introduction to Software, Programming, and Databases</h2>
              </div>
              <p class="description">This course covers the basics of software,
                cloud computing, web browsers, application development concepts,
                programming languages, and database fundamentals.</p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      18
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            5
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/learn/intro-to-databases-back-end-development?utm_medium=sem&utm_source=gg&utm_campaign=B2C_EMEA__coursera_FTCOF_career-academy_pmax-multiple-audiences-country-multi&campaignid=20858198824&adgroupid=&device=c&keyword=&matchtype=&network=x&devicemodel=&adposition=&creativeid=&hide_mobile_promo&gad_source=1&gclid=CjwKCAiAuNGuBhAkEiwAGId4ali49cIjZ-9YdVbJ7xVYSODWjtn5LDN6lOsrs0VdEA43UKscHzBuixoCOpYQAvD_BwE" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'meta.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Introduction to Databases for Back-End Development</h2>
              </div>
              <p class="description">In this course, you’ll receive an introduction
                to databases and explore the different ways in which they can be
                used to store and manage data. You’ll also learn to distinguish
                between different types of database management systems. </p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      27
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            5
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/programs/young-global-citizens-assembly-le-wagon-rlkt4/learn/introduction-to-ios-mobile-application-development?source=search" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'meta.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Introduction to iOS Mobile Application Development</h2>
              </div>
              <p class="description">Learn about iOS development by learning
                about the OS and the development platform. Discover how to set
                up and prepare a local environment. Get acquainted with the
                Swift playground and write code in Swift. </p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      11
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            3
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/programs/young-global-citizens-assembly-le-wagon-rlkt4/learn/introduction-to-android-mobile-application-development?source=search" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'meta.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Introduction to Android Mobile Application Development</h2>
              </div>
              <p class="description">Explore the Android Studio and the fundamental
                concepts of Android app development. Learn about operating systems
                and different platforms for creating mobile apps. You’ll conclude
                your introduction to Android application development by building
                out each aspect of a guided project.</p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      11
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            3
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/learn/foundations-user-experience-design?adpostion=&utm_medium=sem&utm_source=gg&utm_campaign=B2C_EMEA__coursera_FTCOF_career-academy_pmax-multiple-audiences-country-multi&campaignid=20858198824&adgroupid=&device=c&keyword=&matchtype=&network=x&devicemodel=&adposition=&creativeid=&hide_mobile_promo&gad_source=1&gclid=CjwKCAiAuNGuBhAkEiwAGId4ai9a6SbEx6d8ryfURhYIfHkZlSBNfNbX0MqyLNOaSXvE_WrjpDqzlhoCBr4QAvD_BwE" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'google.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Foundations of User Experience (UX) Design</h2>
              </div>
              <p class="description">You'll learn to identify common job
                responsibilities of entry-level UX designers and other teams
                you might work with. Understand foundational concepts in UX design,
                such as user-centered design, the design process, accessibility,
                and equity-focused design. Explain why design sprints are an
                important and useful part of a UX designer’s work. </p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      26
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            4
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>

      <div class="course">
        <a href="https://www.coursera.org/learn/programming-fundamentals?utm_medium=sem&utm_source=gg&utm_campaign=B2C_EMEA__coursera_FTCOF_career-academy_pmax-multiple-audiences-country-multi&campaignid=20858198824&adgroupid=&device=c&keyword=&matchtype=&network=x&devicemodel=&adposition=&creativeid=&hide_mobile_promo&gad_source=1&gclid=CjwKCAiAuNGuBhAkEiwAGId4akggxTtod8OFLU1vmM3xRGIlZ_3q14TjiBeudY1Yu9F675122WF2khoCxccQAvD_BwE" class="link-block-4 w-inline-block">
          <div class="card">
            <%= image_tag 'duke.png', width: '124' %>
            <div class="title">
              <h2 class="course-title-card">Programming Fundamentals</h2>
              </div>
              <p class="description">This course will introduce you to a powerful
                problem-solving process—the Seven Steps—which you can use to solve
                any programming problem. In this course, you will learn how to
                develop an algorithm, then progress to reading code and understanding
                how programming concepts relate to algorithms.</p>
                <div class="details-main-block">
                  <div class="detail-block">
                    <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c7b397dbeee266e8a7cb_duration.svg" loading="lazy" alt="" class="icon-details">
                    <div class="card-details">
                      18
                    </div>
                    <div class="card-details">
                      &nbsp;hours
                    </div>
                    </div>
                    <div class="detail-block">
                      <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c84ab4c0c7cb95eab970_level.svg" loading="lazy" alt="" class="icon-details">
                      <div class="card-details">
                        Beginner
                      </div>
                    </div>
                        <div class="detail-block">
                          <img src="https://assets-global.website-files.com/642196af2e1a8ec6edf70c8e/6421c856e720563280b5c644_lessons.svg" loading="lazy" alt="" class="icon-details">
                          <div class="card-details">
                            4
                          </div>
                          <div class="card-details">
                            &nbsp;modules
                            </div>
                          </div>
                        </div>
                      <div class="btn-flat">
                        <div class="text-block-5">
                          Start course&nbsp;
                          </div>
                      </div>
              </div>
          </a>
      </div>
    </div>
</div>
